:root {
    --primary-bckgColor: #F2EFE9;
    --secondary-bckgColor: #8C8B88;

    --primary-font: 'Rubik', sans-serif;

    --header-height: 60px;
    --footer-height: 30px;
}
body {
    font-family: var(--primary-font);
}
header {
    height: var(--header-height);
    background-color: var(--secondary-bckgColor);
}
.menu {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    

}
.menu__logo { 
    padding: 5px;   
    height: 50px;
    width: 50px;
    /* border-radius: 35px; */
    
}
.menu__desktop ul {
    display: flex;
    justify-content: space-evenly;

}
.menu__mobile {
    display: none;
}
.home {
    display: flex;
    flex-direction: column;


}

footer {
    background-color: var(--secondary-bckgColor);
}