header {
    height: 80px;
    background-color: #8C8B88;
}

.menu__logo {
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 35px;
    
}

ul {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}
